footer {
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;

  .footer__links-wrapper {
    display: flex;
    justify-content: space-around;
    width: 50%;

    .footer__link {
      text-align: center;
      color: white;
      font-size: 1.75rem;
      font-weight: bold;
    }
  }
}

.social-text {
  display: block;
  font-size: 1rem;
}
