* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: 4rem;
  width: 100%;
}
